@use 'mixins/colours' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  color-scheme: light dark;
  font-size: 100%;
  overflow: hidden;
}

::selection {
  color: white !important;
  background: $col-prot !important;
}

.dcg-container {
  border: none !important;
}
