$col-red:    #ff0040;
$col-yellow: oklch(0.8074 0.1603 75.71);
$col-green:  #40f190;
$col-blue:   #02a2f6;
$col-purp:   #7d8dfd;
$col-pink:   #fc51a9;

$col-prot: $col-green;
$col-deut: $col-pink;
$col-trit: $col-yellow;

$col-hover: rgb(white, 8%);
