@font-face {
  font-family: 'Monaspace Neon';
  src:
    url('/fonts/monaspace-neon.ttf') format('truetype'),
}


@mixin font-ui {
  font-family: 'Orbit', 'Segoe UI', system-ui, sans-serif;
  font-weight: normal;
}

@mixin font-body {
  font-family: 'Outfit', 'Segoe UI', system-ui, sans-serif;
  font-weight: 150;
}

@mixin font-code {
  font-family: 'Monaspace Neon', monospace;
}
